<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/assets/index.css">
    <title>Api Spotify</title>
</head>

<body>    
    <nav>
        <div class="menu-item" id="logo">
            <a href="/assets/img/spotify-logo.png"><img id="SpotifyLogo" src="/assets/img/spotify-logo.png" alt="Spotify Logo"></a>
        </div>
    </nav>

    <div class="container">
        <div class="text-container">
           <a href="/album/Damso" class="nav-links"><img class="image" src="/assets/img/Damso.png" alt="Photo de Damso"></a>
        </div>
        <div class="text-container">
            <a href="/track/Laylow" class="nav-links"><img class="image" src="/assets/img/Laylow.png" alt="Photo de Laylow"></a>
        </div>
    </div>
</body>

</html>