<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/assets/">
    <title>Sudo FM - Artiste</title>
</head>

<body>    
    <nav>
        <div>
            <div>
                <img width="300" src="/assets/img/Sudo-FM_Logo.png" alt="Logo Sudo FM">
            </div>
            <div>
                <a href="/">Accueil</a>
                <a href="/recherche">Recherche</a>
                {{if .LogIn}}
                <a href="/favoris">Favoris</a>
                <a href="/deconnexion">Se déconnecter</a>
                {{else}}
                <a href="/connexion">Se connecter</a>
                <a href="/inscription">S'inscrire</a>
                {{end}}
            </div>
        </div>
    </nav>

    <main>
            <div>
                <h1>{{.AlbumTracks.AlbumName}}</h1>
                <div>
                    <img width="300" src="{{.AlbumTracks.Images}}" alt="Image de l'album {{.AlbumTracks.AlbumName}}">
                    <div>
                        <p>Date de sortie : {{.AlbumTracks.Release_date}}</p>
                        <p>Artistes : 
                            {{range $index, $artist := .AlbumTracks.AlbumArtists}}
                                {{if $index}}, {{end}}<a href="/artiste/{{$artist.ArtistId}}">{{$artist.ArtistName}}</a>
                            {{end}}
                        </p>
                    </div>
                </div>
                <h2>Tout les titres de l'album</h2>
                <ul>
                    {{range .AlbumTracks.Items}}
                        <li>
                            <a href="/titre/{{.TrackId}}">{{.TrackName}}</a> - Durée : {{.DurationFormated}} - Artistes : 
                            {{range $index, $artist := .Artists}}
                                {{if $index}}, {{end}}<a href="/artiste/{{$artist.ArtistId}}">{{$artist.ArtistName}}</a>
                            {{end}}
                        </li>
                    {{end}}
                </ul>
            </div>

        <div>
                {{if .Pagination.APrecedent}}
                    <a href="?pageAlbums={{ .PaginationAlbums.PagePrec}}">Page Précédente</a>
                {{end}}
                {{ if .Pagination.APrecedent or .Pagination.ASuivant}}
                    <span>Page {{.PaginationAlbums.Page}}</span>
                {{end}}
                {{if .Pagination.ASuivant}}
                    <a href="?pageAlbums={{ .PaginationAlbums.PageSuiv}}">Page Suivante</a>
                {{end}}
            </div>

        

        
        
    </main>
</body>

</html>