<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/assets/favoris.css">
    <title>Sudo FM - Favoris</title>
</head>


<body>    
    <nav class="navbar">
        <div class="nav-container">
            <div class="logo-container">
                <a href="/"><img class="logo-img" src="/assets/img/Sudo-FM_Logo.png" alt="Logo Sudo FM"></a>
                <p class="brand-name">Sudo FM</p>
            </div>
            <div class="nav-links">
                <a href="/recherche">Recherche</a>
                <a href="/deconnexion">Se déconnecter</a>
            </div>
        </div>
    </nav>

    <main class="main-content">
        <h1>Favoris de {{.NomUtilisateur}}</h1>
        
        {{if and (not .Favoris.Titres) (not .Favoris.Artistes) (not .Favoris.Albums)}}
        <div class="empty-state">
            <p>Vous n'avez pas encore ajouté de favoris.</p>
            <p>Allez rechercher des titres, artistes ou albums et ajoutez-les à vos favoris.</p>
            <a href="/recherche" class="cta-button">Allons-y !</a>
        </div>
        {{end}}

        {{if .Favoris.Titres}}
            <h3>Titres :</h3>
            <div class="favorites-grid">
                {{range $i, $t := .Favoris.Titres}}
                    <a href="/titre/{{$t.Id}}" class="card">
                        <img class="card-img" src="{{.Image}}" alt="Image du titre {{.Nom}}">
                        <div class="card-content">
                            <span class="card-title">{{$t.Nom}}</span>
                            <span class="card-subtitle">{{if $t.Artistes}}par {{(index $t.Artistes 0).ArtistName}}{{else}}Artiste inconnu{{end}}</span>
                            <object><a href="{{.URL}}" class="spotify-link-sm" target="_blank">Lien Spotify</a></object>
                        </div>
                    </a>
                {{end}}
            </div>
        {{end}}

        {{if .Favoris.Artistes}}
            <h3>Artistes :</h3>
            <div class="favorites-grid">
                {{range .Favoris.Artistes}}
                    <a href="/artiste/{{.Id}}" class="card">
                        <img class="card-img-circle" src="{{.Image}}" alt="Image de l'artiste {{.Nom}}">
                        <div class="card-content">
                            <span class="card-title">{{.Nom}}</span>
                            <object><a href="{{.URL}}" class="spotify-link-sm" target="_blank">Lien Spotify</a></object>
                        </div>
                    </a>
                {{end}}
            </div>
        {{end}}

        {{if .Favoris.Albums}}
            <h3>Albums :</h3>
            <div class="favorites-grid">
                {{range .Favoris.Albums}}
                    <a href="/album/{{.Id}}" class="card">
                        <img class="card-img" src="{{.Image}}" alt="Image de l'album {{.Nom}}">
                        <div class="card-content">
                            <span class="card-title">{{.Nom}}</span>
                            <span class="card-subtitle">
                                {{if .ReleaseDate}}{{.ReleaseDate}}{{end}}<br>
                                {{if .Artists}}{{(index .Artists 0).ArtistName}}{{else}}Artiste inconnu{{end}}
                            </span>
                            <object><a href="{{.URL}}" class="spotify-link-sm" target="_blank">Lien Spotify</a></object>
                        </div>
                    </a>
                {{end}}
            </div>
        {{end}}

        <div class="pagination">
            {{if .Pagination.APrecedent}}
                <a href="/recherche?search={{.SearchQuery}}&page={{.Pagination.PagePrec}}">Page précédente</a>
            {{end}}
            {{if or .Pagination.APrecedent .Pagination.ASuivant}}
                <span>Page {{ .Pagination.Page }}</span>
            {{end}}
            {{if .Pagination.ASuivant}}
                <a href="/recherche?search={{.SearchQuery}}&page={{.Pagination.PageSuiv}}">Page suivante</a>
            {{end}}
        </div>
    </main>
</body>

</html>