<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/assets/">
    <title>Sudo FM - Recherche</title>
</head>

<body>    
    <nav>
        <div>
            <div>
                <img width="300" src="/assets/img/Sudo-FM_Logo.png" alt="Logo Sudo FM">
            </div>
            <div>
                <a href="/">Accueil</a>
                {{if .LogIn}}
                <a href="/favoris">Favoris</a>
                <a href="/deconnexion">Se déconnecter</a>
                {{else}}
                <a href="/connexion">Se connecter</a>
                <a href="/inscription">S'inscrire</a>
                {{end}}
            </div>
        </div>
    </nav>

    <main>
        <div>
            <form method="GET" action="/recherche">
                <input type="text" name="search" placeholder="Rechercher un artiste, un album ou un titre" value="{{.SearchQuery}}">
                <button type="submit">Rechercher</button>
            </form>
        </div>
        {{if .SearchQuery}}
            <div>
                <a href="/recherche?search=genre:(rock)">Rock</a>
                <a href="/recherche?search=genre:(pop)">Pop</a>
                <a href="/recherche?search=genre:(hip-hop)">Hip-Hop</a>
                <a href="/recherche?search=genre:(jazz)">Jazz</a>
                <a href="/recherche?search=genre:(classical)">Classique</a>
                <a href="/recherche?search=genre:(electronic)">Électronique</a>
            </div>
            {{else}}
            <h2>Une recherche par Genre ?</h2>
            <div>
                <a href="/recherche?search=genre:(rock)">//Rock//</a>
                <a href="/recherche?search=genre:(pop)">//Pop//</a>
                <a href="/recherche?search=genre:(hip-hop)">//Hip-Hop//</a>
                <a href="/recherche?search=genre:(jazz)">//Jazz//</a>
                <a href="/recherche?search=genre:(classical)">//Classique//</a>
                <a href="/recherche?search=genre:(electronic)">//Électronique//</a>
            </div>
        {{end}}
        {{if .SearchQuery}}
            <h2>Résultats :</h2>
            {{if .SearchData.TrackData}}
                <div>
                    <h3>Titres :</h3>
                    <ul>
                        {{range $s, $i := .SearchData.TrackData}}
                            <li>
                                <a href="/titre/{{$i.TrackId}}">
                                    {{$i.TrackName}} {{if $i.Artists}}par {{(index $i.Artists 0).ArtistName}}{{else}}Artiste inconnu{{end}}
                                </a>
                            </li>
                        {{end}}
                    </ul>
                </div>
            {{end}}

            {{if .SearchData.ArtistData}}
                <div>
                    <h3>Artistes :</h3>
                    <ul>
                        {{range .SearchData.ArtistData}}
                            <li>
                                <a href="/artiste/{{.ArtistId}}">
                                    {{.ArtistName}} 
                                </a>
                            </li>
                        {{end}}
                    </ul>
                </div>
            {{end}}

            {{if .SearchData.AlbumData}}
                <div>
                    <h3>Albums :</h3>
                    <ul>
                        {{range .SearchData.AlbumData}}
                            <li>
                                <a href="/album/{{.AlbumId}}">
                                    {{.AlbumName}} - {{if .ReleaseDate}}{{.ReleaseDate}}{{end}}{{if .Artists}} - {{(index .Artists 0).ArtistName}}{{else}}Artiste inconnu{{end}}
                                </a>
                            </li>
                        {{end}}
                    </ul>
                </div>
            {{end}}
            <div>
                {{if .Pagination.APrecedent}}
                    <a href="/recherche?search={{.SearchQuery}}&page={{.Pagination.PagePrec}}"><- Page précédente</a>
                {{end}}
                {{ if .PaginationAlbums.APrecedent or .PaginationAlbums.ASuivant}}
                    <span>Page {{.PaginationAlbums.Page}}</span>
                {{end}}
                {{if .Pagination.ASuivant}}
                    <a href="/recherche?search={{.SearchQuery}}&page={{.Pagination.PageSuiv}}">Page suivante -></a>
                {{end}}
            </div>
        {{end}}
    </main>
</body>

</html>