* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  min-height: 100vh; 
  flex-direction: column;
  align-items: center;
  background : linear-gradient(
    45deg,
    rgb(70, 70, 70) 10%,
    rgb(0, 0, 0) 90%

  )

}

.menu-item {
  text-align: center;
  vertical-align: middle;
  display: table;
  width: 300px;
}

.menu-item a {
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  display: table-cell;
  padding: 20px;
}

.menu-item a:hover {
  color: black;
}

#logo a {
  padding: 20px 0 10px;
  background: linear-gradient(
    45deg,
    rgb(0, 0, 0) 20%,
    rgb(0, 150, 0) 80%

  );
}

#logo a:hover {
  background-color: blue;
}

#SpotifyLogo{
    width: 60px;
    height: auto;
    transform: rotate(45deg);
}
#SpotifyLogo:hover{
    transform: scale(1.2) rotate(45deg);
}

#home    a { 
    background: linear-gradient(
    45deg,
    rgb(0, 0, 0) 10%,
    rgb(0, 120, 0) 90%
    );    
}

nav {
  position: absolute;
  width: 700px;
  transform: rotate(-45deg);
  top: -165px;
  left: -155px;
}

.container-Artist {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 100px 150px 20px 150px;  
  padding: 20px;
  background-color: rgb(0, 82, 18);
  border-radius: 25px;
  box-shadow: #000000 5px 5px 10px; 
}

.text-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 82, 0);
    margin: 0px 350px 0px 350px;  
    border-radius: 50px;
  box-shadow: #000000 5px 5px 10px; 
}

.image-container {
  width: 350px;
  aspect-ratio: 1 / 1; /* Garde un format carré*/
}

.image {
    border-radius: 10%;
    width: 100%;
    height: 100%;
    max-width: 400px;
    box-shadow: #000000 5px 5px 10px;     
    object-fit: cover; /*évite la déformation de l'image.*/
    border: 3px solid #000000;
}


.text-White {
  color: white;
}

.albums {
    display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px;
}

.album-card{
  width: 400px;
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 20px;
  background-color: rgb(0, 82, 0);
  border-radius: 10px;
  box-shadow: #000000 5px 5px 10px; 
    
}

.album-image{
    border: 3px solid #000000;
    width: 200px;
    box-shadow: #000000 5px 5px 10px; 
   
}