* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  
  font-family: Arial, sans-serif;
  min-height: 100vh; 
  display: flex; 
  flex-direction: column; 
  align-items: center;
  background : linear-gradient(
    45deg,
    rgb(70, 70, 70) 10%,
    rgb(0, 0, 0) 90%

  )

}

.container {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px;
}

.text-container {
  width: 500px;
  aspect-ratio: 1 / 1; /* Garde un format carré*/
}

.image {
    border-radius: 35%;
    width: 100%;
    height: 100%;
    max-width: 400px;
    box-shadow: rgb(0, 82, 18) 10px 10px 30px;     
    object-fit: cover; /*évite la déformation de l'image.*/
}

.image:hover {
    transform: scale(1.05);
}


ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.menu-item {
  text-align: center;
  vertical-align: middle;
  display: table;
  width: 300px;
}

.menu-item a {
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  display: table-cell;
  padding: 20px;
}

.menu-item a:hover {
  color: black;
}

#logo a {
  padding: 20px 0 10px;
  background: linear-gradient(
    45deg,
    rgb(0, 0, 0) 20%,
    rgb(0, 146, 7) 80%

  );
}

#logo a:hover {
  background-color: blue;
}

#SpotifyLogo{
    width: 60px;
    height: auto;
    transform: rotate(45deg);
}
#SpotifyLogo:hover{
    transform: scale(1.2) rotate(45deg);
}

#home    a { 
    background: linear-gradient(
    45deg,
    rgb(0, 0, 0) 20%,
    rgb(2, 204, 12) 80%
    );    
}

nav {
  position: absolute;
  width: 700px;
  transform: rotate(-45deg);
  top: -155px;
  left: -175px;
}